body {
    margin: 0 auto;
}

main {
    width: 90%;
    margin: 0 auto;
}

header {
    margin: 2rem;
}

#roll-button {
    margin: 0 auto;
    margin-bottom: 2rem;
}

#roll-display {
    margin: 0 auto;
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 30px;
}